//
// Author's Core Stylesheet (Add your application Sass-CSS here)
//
// ==========================================================================

// ==========================================================================
// Variables (w/ Example Sass Variables)
// ==========================================================================

$page-width 		: 	100%;
$page-font 			: 	Helvetica;
$text-color 		: 	#222;
$hilite-color 		:   #999;

$color-phone 		: 	#69F;
$color-phone-wide 	: 	#3C3;
$color-tablet 		: 	#90F;
$color-desktop 		: 	#F00;

$mq-phone 			: 	320px;
$mq-phone-wide 		: 	500px;
$mq-tablet 			: 	600px;
$mq-desktop 		: 	992px;


// ==========================================================================
// Styles (w/ Example Sass Definitions + Media Queries)
// ==========================================================================

body {
	color: $text-color;
	font-family: $page-font;
}

h1 {

    a {
		color: $text-color;
		text-decoration: none;

		span {
		    color: $hilite-color;
		    @include transition(all .3s ease-in-out);

			@include at-least($mq-phone) {
				color: $color-phone;
			}

			@include at-least($mq-phone-wide) {
				color: $color-phone-wide;
			}

			@include at-least($mq-tablet) {
				color: $color-tablet;
			}

			@include at-least($mq-desktop) {
				color: $color-desktop;
			}
		}
    }
}
