//
// Author's Core Stylesheet (Add your application Sass-CSS here)
//
// ==========================================================================

// Example Variables

$page-font             :   Helvetica;
$text-color            :   #222;
$active-color          :   #999;

$mq-phone              :   320px;
$mq-phone-wide         :   500px;
$mq-tablet             :   600px;
$mq-desktop            :   992px;

$mq-color-phone        :   #69F;
$mq-color-phone-wide   :   #3C3;
$mq-color-tablet       :   #90F;
$mq-color-desktop      :   #F00;


// Example Styles (w/ Sass Media Queries)
body {
  font-family: $page-font;
  color: $text-color;
}

h1 {
  a {
    color: $text-color;
    text-decoration: none;

    span {
      color: $active-color;
      @include transition(all .3s ease-in-out);

      @include at-least($mq-phone) {
        color: $mq-color-phone;
      }

      @include at-least($mq-phone-wide) {
        color: $mq-color-phone-wide;
      }

      @include at-least($mq-tablet) {
        color: $mq-color-tablet;
      }

      @include at-least($mq-desktop) {
        color: $mq-color-desktop;
      }
    }
  }
}