//
// Base Stylesheet Assembler
//
// ==========================================================================
// Featuring: HTML5 Boilerplate w/ Normalize, Sass, Compass + Susy.  
//
// This is where all CSS Libraries are imported and assembled into the base
// stylesheet. Please place your custom project variables, styles and mixins
// inside '_core.scss' and '_mixins.scss'. For additional support with the 
// environment and application configuration - please refer to the README.
//
// ==========================================================================

// ==========================================================================
// Import CSS Libraries
// ==========================================================================

@import 'compass/layout';
@import 'compass/utilities';
@import 'compass/css3';
// @import 'susy'; // Susy Grid Support (remove comment to enable)
@import 'normalize';
@import 'h5bp';


// ==========================================================================
// Build Core Stylesheet
// ==========================================================================

/* Normalize */
@include normalize;

/* H5BP-Defaults */
@include h5bp-default;

/* H5BP-Helpers */
@include h5bp-helpers;

/* Author's Mixins */
@import 'mixins';

/* Author's Styles */
@import 'core';

/* H5BP-Media */
@include h5bp-media;
