// ==========================================================================
// H5BP Default Styles: Opinionated Defaults (Override to your hearts content)
// ==========================================================================

// H5BP Mixin Variables
$BP-line-height                 :   1.4 !default;
$BP-font-color                  :   #222 !default;
$BP-font-size                   :   1em !default;
$BP-selected-font-color         :   #ccc !default;
$BP-selected-background-color   :   #99c !default;

// H5BP Mixin Defaults
@mixin h5bp-default {
  html, button, input, select, textarea {
    color: $BP-font-color;
  }

  body {
    font-size: $BP-font-size;
    line-height: $BP-line-height;
  }

  // Remove text-shadow in selection highlight: h5bp.com/i
  // These selection declarations have to be separate.
  // Customize the background color to match your design.
  ::-moz-selection {
    color: $BP-selected-font-color;
    background: $BP-selected-background-color;
    text-shadow: none;
  }
  ::selection {
    color: $BP-selected-font-color;
    background: $BP-selected-background-color;
    text-shadow: none;
  }

  // A better looking default horizontal rule
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  // Remove the gap between images, videos, audio and canvas
  // and the bottom of their containers: h5bp.com/i/440
  audio,
  canvas,
  img,
  video {
    vertical-align: middle;
  }

  // Remove default fieldset styles.
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  // Allow only vertical resizing of textareas.
  textarea {
    resize: vertical;
}

// Browse Happy prompt
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
}